
#textOne
{
    padding: 0 5px 0 15px;
    text-align: right;
    opacity: 0.6;
    width: 100px;   
}

#textTwo
{
    padding: 0 5px 0 15px;
    text-align: right;
    opacity: 0.6;
    width: 100px;   
}        

#textTwo
{
    padding: 0 5px 0 15px;
    text-align: right;
    opacity: 0.6;
    width: 100px;   
}